<div *ngIf="specie" class="col col-md-auto  my-3 ">
  <div class="card text-center" style="width: 18rem;">
    <div class="card-body shadow ">
      <h5 class="card-title text-uppercase fw-bold">{{specie.scientific_name}}</h5>
      <h5 *ngIf="category" class="card-subtitle my-3 text-muted">
        <span [class]="category.badgeClass" class="badge bg-gradient">{{category.categoryMessage}}</span>
      </h5>
      <p *ngIf="class ; else classSpinner" class="fw-bold">{{class.frenchName}}</p>

      <ng-template #classSpinner>
        <app-spinner></app-spinner>
      </ng-template>

      <div class="d-grid gap-2 col-6 mx-auto">
      <button type="button" (click)="handleClick()" class="btn btn-outline-dark mt-3" type="button"
        aria-expanded="false">{{ showMore ? 'Réduire' : 'En savoir plus'}}</button>
      </div>

      <div [@openClose]="showMore ? true : false" class="my-2">
        <div class="card card-info card-body d-flex justify-content-center">
          <a class="link-dark fw-bold mb-3" href="{{url? url : 'https://www.iucnredlist.org'}}" target="_blank" rel="noopener">Fiche détaillée de l'IUCN</a>
          <div *ngIf ="name; else spinnerName" class="loading align-items-left my-3">
            <p class ="fw-bold">Nom commun : </p><p>{{name}} {{english ?('(GB)'): ''}}</p>
          </div>
          <ng-template #spinnerName>

            <app-spinner  class = "mb-2"></app-spinner>

          </ng-template>
          <div *ngIf ="threats; else spinnerThreat" class="loading card-text d-flex align-items-left my-3">
            <ul class = "list-group list-group-flush">
              <span class ="fw-bold">Menaces : </span>

              <li class="list-group-item" *ngFor="let threat of threats">{{threat}}</li>
            </ul>
          </div>
          <ng-template #spinnerThreat>

            <app-spinner  class = "mb-2"></app-spinner>

          </ng-template>
          <!-- <div class="threat d-flex align-items-center">
                        <strong>Loading...</strong>
                        <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                    </div> -->
        </div>

      </div>
    </div>
  </div>
</div>
