<div id="vanta-canvas"></div>
<div class="container py-5">
  <div class="container py-3">
    <h2 class="text-center my-4 fw-bold ">Nombre d'espèces en danger en France :
      <span class="species-number"></span>
    </h2>
    <div class="text-center my-4 fw-bold ">
      Données issues de la liste rouge de
      <a class="link-dark" href="https://www.iucn.org/">l'organisation IUCN</a>

    </div>
    <div class="text-center my-4 fw-bold ">

      <a class="link-dark" href="https://www.iucnredlist.org/">IUCN Red List of Threatened Species. Version 2021-2</a>

    </div>
  </div>

  <div *ngIf="list$ |async; else loadingBlock" class="row row-cols-auto d-flex justify-content-center">
    <app-card *ngFor="let specie of (list$ |async)" [specie]="specie"></app-card>
  </div>
  <ng-template #loadingBlock>
    <app-spinner></app-spinner>
  </ng-template>

</div>



<!-- <app-card></app-card> -->

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.birds.min.js"></script>
<script>
  VANTA.BIRDS({
    el: "#vanta-canvas",
    mouseControls: true,
    touchControls: true,
    gyroControls: false,
    minHeight: 200.00,
    minWidth: 200.00,
    scale: 1.00,
    scaleMobile: 1.00,
    backgroundColor: 0xffffff,
    color2: 0x0,
    colorMode: "lerpGradient",
    birdSize: 1.80,
    wingSpan: 23.00,
    separation: 38.00,
    alignment: 59.00,
    backgroundAlpha: 0.73,

  })
</script> -->
